body{
    background-color: rgb(148, 189, 91);
}
*{
    box-sizing: border-box;
}
.containter {
    margin: 0;
    padding: 0;
    width: 50%;
    text-align: 50%;
}
.center{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
